<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>Ошибка оплаты</title>    
</head>
<body >  
    <div id="root">
        {{message}}        
    </div>    
</body>
</html>